<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.Dao.StudentHomeWorkMapper">
    <select id="selectHomework" resultType="com.example.classroomschool.Model.StudentHomeWork" parameterType="java.lang.Integer">
    select
    student.id as id, account, phone, mailbox, name,
    school,school_num as schoolNum, time, file,answer,homework,
    score, review
    from sw,student
    where
    homework = #{homeworkId,jdbcType=INTEGER}
    and student.id = sw.student
    </select>

</mapper>