<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.classroomschool.Dao.TcMapper" >
  <resultMap id="BaseResultMap" type="com.example.classroomschool.Model.Tc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teacher" property="teacher" jdbcType="INTEGER" />
    <result column="course" property="course" jdbcType="INTEGER" />
    <result column="pigeonhole" property="pigeonhole" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="VARCHAR" />
    <result column="display_num" property="displayNum" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, teacher, course, pigeonhole, top, display_num, role
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.classroomschool.Model.TcExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tc
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="ListTeacher" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tc
    where teacher = #{teacher,jdbcType=INTEGER}
  </select>

  <select id="selectTc" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tc
    where teacher = #{teacher,jdbcType=INTEGER} and course = #{course,jdbcType=INTEGER}
  </select>
  <select id="selectTcByCourse" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tc
    where course = #{course,jdbcType=INTEGER} ORDER by role
  </select>

  <update id="ChangeTop" parameterType="map" >
    update
    tc
    set
    top = #{top,jdbcType=VARCHAR}
    where teacher = #{id,jdbcType=INTEGER} and course = #{CourseId,jdbcType=INTEGER}
  </update>

  <update id="pigeonholeC" parameterType="map" >
    update
    tc
    set
    pigeonhole = #{pigeonhole,jdbcType=VARCHAR}
    where teacher = #{teacher,jdbcType=INTEGER} and course = #{course,jdbcType=INTEGER}
  </update>
  <update id="SortNumber" parameterType="map" >
    update
    tc
    set
     display_num = #{displayNum,jdbcType=INTEGER}
    where course = #{course,jdbcType=INTEGER} and teacher = #{teacher,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tc
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="CourseDelete" parameterType="map" >
    delete from tc
    where teacher = #{teacher,jdbcType=INTEGER} and course = #{course,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="com.example.classroomschool.Model.TcExample" >
    delete from tc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.classroomschool.Model.Tc" >
    insert into tc (id, teacher, course, 
      pigeonhole, top, display_num, 
      role)
    values (#{id,jdbcType=INTEGER}, #{teacher,jdbcType=INTEGER}, #{course,jdbcType=INTEGER}, 
      #{pigeonhole,jdbcType=VARCHAR}, #{top,jdbcType=VARCHAR}, #{displayNum,jdbcType=INTEGER}, 
      #{role,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.classroomschool.Model.Tc" >
    insert into tc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="course != null" >
        course,
      </if>
      <if test="pigeonhole != null" >
        pigeonhole,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="displayNum != null" >
        display_num,
      </if>
      <if test="role != null" >
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=INTEGER},
      </if>
      <if test="course != null" >
        #{course,jdbcType=INTEGER},
      </if>
      <if test="pigeonhole != null" >
        #{pigeonhole,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=VARCHAR},
      </if>
      <if test="displayNum != null" >
        #{displayNum,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.classroomschool.Model.TcExample" resultType="java.lang.Integer" >
    select count(*) from tc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tc
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.teacher != null" >
        teacher = #{record.teacher,jdbcType=INTEGER},
      </if>
      <if test="record.course != null" >
        course = #{record.course,jdbcType=INTEGER},
      </if>
      <if test="record.pigeonhole != null" >
        pigeonhole = #{record.pigeonhole,jdbcType=VARCHAR},
      </if>
      <if test="record.top != null" >
        top = #{record.top,jdbcType=VARCHAR},
      </if>
      <if test="record.displayNum != null" >
        display_num = #{record.displayNum,jdbcType=INTEGER},
      </if>
      <if test="record.role != null" >
        role = #{record.role,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tc
    set id = #{record.id,jdbcType=INTEGER},
      teacher = #{record.teacher,jdbcType=INTEGER},
      course = #{record.course,jdbcType=INTEGER},
      pigeonhole = #{record.pigeonhole,jdbcType=VARCHAR},
      top = #{record.top,jdbcType=VARCHAR},
      display_num = #{record.displayNum,jdbcType=INTEGER},
      role = #{record.role,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.classroomschool.Model.Tc" >
    update tc
    <set >
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=INTEGER},
      </if>
      <if test="course != null" >
        course = #{course,jdbcType=INTEGER},
      </if>
      <if test="pigeonhole != null" >
        pigeonhole = #{pigeonhole,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=VARCHAR},
      </if>
      <if test="displayNum != null" >
        display_num = #{displayNum,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.classroomschool.Model.Tc" >
    update tc
    set teacher = #{teacher,jdbcType=INTEGER},
      course = #{course,jdbcType=INTEGER},
      pigeonhole = #{pigeonhole,jdbcType=VARCHAR},
      top = #{top,jdbcType=VARCHAR},
      display_num = #{displayNum,jdbcType=INTEGER},
      role = #{role,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>